<div class="container col-md-12 col-sm-12 col-xs-12" id="bio">
	<h1 style="text-align: center">Welcome!</h1>

	<div class="row" id="bio-body">
		
		<div class="col-md-6 col-md-offset-3 col-sm-5 col-xs-12">
			<p class="bio-para">
				More detail coming soon! This site is a placeholder while I style my full portfolio site.  

				<p>I am a full stack web developer with a background in <%= link_to "Radiation Biology [MSc(Oxon), 2010]", "http://www.ox.ac.uk/" %> and Medical Image Computing.  I'm also a visual artist. I became interested in imaging science after spending a semester at <%= link_to "Rhode Island School of Design", "http://www.risd.edu/" %> my junior year of college <%= link_to "(Brown University)", "http://www.brown.edu/" %>.
				</p>

				<p>
					I studied biology as an undergraduate and began to focus on bioengeering after taking a class in biophotonics. I spent the year after college in Barcelona, doing research in nanoscience and nanotechnology. I was inspired to go because of exciting advancements in materials science that have the potential to improve imaging through the use of multifunctional contrast agents. I later decamped to the UK to undertake a master of science degree in radiation biology.
				</p> 
				<p>
					I find web development exciting because it has a similar blend of the technological and the visual that I liked so much in imaging science, but with an added ability to be creative and experiment in unusual visual effects.  Web development found me when I moved back to the US in 2013 to be the strategist for an aviation startup called Y-Jet.  In looking into how to optimize our user experience and website, I realized I had discovered a new passion..or perhaps a new means to express my interest in subjects at the intersection of humans, technology, and visualization.  I taught myself as much as I could, and then in November 2014, I decided to take the plunge and enroll in the Web Development Immersive at General Assembly. <span class="home-link"><%= link_to "Home", root_path %></span>
				</p>
			</p>
			<br/>
			<%= link_to image_tag("picture5.jpg", class: "image-tag"), root_path %>
			<br/>
			
		</div>
		
	</div>
</div>

