<%= render 'layouts/navigation' %>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <p class="header-links">
        <span>oluwatosin</span>
        <%= link_to "about/", about_path %>
        <%= link_to "portfolio/", about_path %>
        <%= link_to "github/", "https://github.com/ann-xvii" %>
        <%= link_to "linkedin/", "https://www.linkedin.com/in/anna14" %>
        <%= link_to "ga talent/", "https://profiles.generalassemb.ly/anna-atiba" %>
        <%= link_to "booklist/", booklist_path %>
        <%= link_to "curator/", "https://nlp-curator.herokuapp.com/" %>
        <%= link_to "assemblr/", "https://assemblr.herokuapp.com/" %>
        <%= link_to "hooligan/", "https://hooligans.herokuapp.com/" %>
        <%= link_to "noughts and crosses/", root_path %>
      </p>

    </div>
<%= render 'layouts/gallery_header' %>
<%= render 'layouts/gallery' %>

<div class="container">
    <%= render 'layouts/footer' %>
</div>
