<div id="booklist">
<h1 style="text-align: center">books</h1>
<p class="book-para">
    <%= link_to "Through the Looking Glass, And What Alice Found There, Lewis Carroll/", "http://www.gutenberg.org/files/12/12-h/12-h.htm" %>
    <%= link_to "The Miser, Moliere/", "http://www.gutenberg.org/files/6923/6923-h/6923-h.htm" %>
    <%= link_to "Alice's Adventures in Wonderland, Lewis Carroll/", "http://www.gutenberg.org/files/11/11-h/11-h.htm" %>
    <%= link_to "Beyond Good and Evil, Friedrich Niezstche/", root_path %>
    <%= link_to "Nichomachean Ethics, Aristotle/", root_path %>
    <%= link_to "Homo Zapiens (Generation P)/", root_path %>
    <%= link_to "The Black Swan, Nassim Taleb/", "http://fooledbyrandomness.com/notebook.htm" %>
    <%= link_to "Antifragility, Nassim Taleb/", "http://fooledbyrandomness.com/notebook.htm" %>
    <%= link_to "The Bed of Procrustes, Nassim Taleb/", "http://fooledbyrandomness.com/notebook.htm" %>
    <%= link_to "Swann's Way, Marcel Proust/", "http://www.gutenberg.org/files/7178/7178-h/7178-h.htm" %>
    <%= link_to "Home/", root_path, class: "home-link" %>  
</p> 
</div>
<div id="articles-bck-color">
    <h1 class="reading-h1">articles</h1>
    <p class="book-para">
    <%= link_to "Reading \"In Search of Lost Time\"/", "http://www.salon.com/2005/08/28/proust_2/" %>
    <%= link_to "Silicon Valley Has a Fashion Problem/", "http://www.style.com/trends/fashion/2014/fashion-tech-problem-silicon-valley" %>
    <%= link_to "Flesh, Drugs and Instagram: How Dolls Kill Built a Breakout Online Fashion Brand/", "http://recode.net/2014/08/11/flesh-drugs-and-instagram-how-dolls-kill-built-a-breakout-online-fashion-brand/" %>
    <%= link_to "In it for the Empowerment/", "http://www.style.com/culture/people/2014/happy-halloween-chromat-witches-of-bushwick" %>
    <%= link_to "M.I.A.'s Revolution/", "http://www.theguardian.com/music/2013/oct/19/mia-interview-super-bowl-google" %>
    <%= link_to "M.I.A on NPR*/", "http://www.npr.org/2013/11/05/243083622/i-built-the-platform-myself-m-i-a-on-being-heard" %>
    </p>

    <p class="book-para-neue">*Apparently the song aTENTion was written with the assistance of Julian Assange, who performed a search for words that had "tent"-like phonemes. I was curious about how to search the internet in this manner.  I stumbled upon web scraping and text mining, which I ended up using in two projects.</p>
</div>
